<span><a href="/books">Back</a></span><br>

<h1>add new book</h1>

<form action="/book-add" method="POST">
    <label for="title">Title:
        <input type="text" name="title">
    </label>

    <label for="author">Author:
        <input type="text" name="author">
    </label>

    <label for="description">Description:
        <input type="text" name="description">
    </label>

    <label for="rating">Rate:
        <input type="number" name="rating">
    </label>

    <button type="submit">ADD</button>
</form>